/* CSS Document */
* {
	margin: 0;
}
html, body {
	height: 100%;
}
body{margin:0 auto; background: url(../img/bg_sky%202x360.jpg) repeat-x;}
#header{ margin:0 auto; background:url(../img/bg_Cloud%20800x360.png) no-repeat; width:800px; height:300px;}
#head_title{ margin:0 auto; height:30px;}
#logo { margin:0 auto;  background:url(../img/top_Logo%20673x132.png) no-repeat; width:673px; height:132px;}
#nav{ margin:0 auto; margin-top:25px;background:url(../img/nav_bg%20500x30.png); height:30px; width:500px;}
#nav ul{ height:25px; position:relative;
top:7px;
left:0px;}
#nav ul img{ border:none;}
#nav ul li{ float:left; list-style:none; padding:0 5px; height:25px;}
#nav ul .nav_blank{ width:160px;}
#nav ul .nav_home{}
#nav ul .add_home{background:url(../img/nav_mark%209x5.png)  no-repeat bottom;};
#nav ul .nav_home a{
}
#nav ul .nav_add{ }
#page{ min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -140px;}
.push {
	height: 140px; /* .push must be the same height as .footer */
}
.content{ margin:0 auto; width:800px;height:auto;}
.rcontent{ margin:0 auto; width:800px;height:400px;}
.content .content_title{
 padding:0;color: #666; font-size:15px;font-weight:bold; padding-left:230px;	
}
.search{	
margin:0 auto; padding:0;background:url(../img/main_bar1-347x32.png) no-repeat; width:347px; height:32px; 	
}
.search .text{
float:left; padding-top:3px; padding-left:1px; border:none;	
}
.search .text input{
background:url(../img/main_bar2-238x24.png); height:20px; width:236px; color:#FFF;	
}
.search .sumbit{
float:left;	
}
.product { margin:0 auto; 
}
.product .form_prdocut{
float:left;	width:466px; margin:0 auto; height:244px; color: #666; font-size:15px;font-weight:bold; 
}
.product .form_prdocut .text{
float:left; padding-top:3px; padding-left:1px; border:none;	
}
.product .form_prdocut .textbg{
margin:0 auto; padding:0;background:url(../img/main_bar1-347x32.png) no-repeat; width:244px; height:32px;
}
.product .form_prdocut  input{
 height:20px; width:236px; color:#000;	
}
.product .form_prdocut select{
background:url(../img/main_bar2-238x24.png); height:20px; width:236px; color: #000;	
}
.product .qr_product{
float:left;
background:url(../img/main_code-243x243.png); width:243px; height:243px; 
}
.product .qr_product img{
position:relative;
top:20px;
left:60px;

}
.product .add_sumbit{
clear:both;	
}

.result{ margin:0 auto; width:400px; }
.result input{ font-size:14px;}
#footer{ 
background:url(../img/bg_end%201280x140.jpg) repeat-x; 
width:100%; height:140px;}
#footer ul{ margin:0 auto;list-style:none; width:810px; padding-top:70px;
}
#footer ul li { float:left; padding:0 10px;}

#footer ul li p{font-size:11px; font-weight: 500; color: #333;}
